/* GENERAL STYLES */
body {
	font-family: Arial, San-Serif;
	font-size: 100%;
	background: url(https://i.pinimg.com/originals/7c/95/02/7c95029dd31403a0413812f5c9e43d15.jpg)no-repeat center center fixed;
        background-size: cover;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
p {
	font-size: 13px;
	line-height: 1.3em;
}
.container {
	margin: 0 auto;
	width: 960px;

}

/* HEADER */
.header {
	padding: 50px 0;
	background-image: url(https://annush-hub.github.io/dinosaurs/images/header.png);
  background-size:cover;
  background-repeat:no-repeat;
}
.header h1,
.header h2 {
	color: greenyellow;
	text-align: center;
  font-size: 50px;
}

/* NAVIGATION */
.page-navigation {
	background-color: #222;
	border-color: #101010;
	min-height: 64px;
}
.page-navigation li {
	float: left;
	width: 100px;
}
.page-navigation a {
	display: block;
	color: #9d9d9d;
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}
.page-navigation li a:hover {
	color: yellowgreen;
	background-color: black;
}

.logo{
	max-width: 10%;
	float: left;
}
.logo img{
	padding-top: 3%;
	width: 60%;
}
.footer {
  background-color: yellowgreen;
  color: white;
  padding: 20px 0;
  margin-top: 30px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  float: left;
}

 On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */

main {
  display: flex;
}

article, section {
  flex: 1;
}

aside {
  flex: 1;
  margin-left: 10px;
  padding: 2%;
}

aside div{
  display: block;
  width: 100%;
  padding: 2%;
}

aside img {
  max-width: 100%;
}
section{
	padding-left: 2%;
	text-align: justify;
}
.card-img {
	float: left;
	max-width: 50%;
	padding: 2%;
}
.card-img img{
	float: left;
	max-width: 100%;
	padding: 1%;
}
section p{
	padding: 2%;
}
.side {
	float: left;
	max-width: 100%;
	padding: 2%;
	margin-top: 3%;
}
.side img{
	float: left;
	max-width: 100%;
	padding: 1%;
	margin-top: 3%;
}